* {
    margin: 0px;
    font-family: open-sens, sans-serif;
}

.banner {
    margin: 0, 200px;
    display: flex;
    background-image: url(images/banner/banner1.png);
    height: 750px;
    width: 100%;


}

.banner-title {
    float: right;

    text-align: right;
    height: 300px;
    padding: 300px 200px 5px 800px;
}

.banner-content {
    height: 700;
    font-size: 60px;
    margin-bottom: 24px;


}

.btn-primary {
    height: 40px;
    border-radius: 5px;
    background-color: orangered;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border: 0px;
    padding: 17px, 34px;
}

.banner-description {
    color: grey;
    font-size: 18px;
    margin-bottom: 30px;

}

main {
    max-width: 1060;
    margin: 0px auto;
}

.my-present {

    margin-top: 130px;
    border-radius: 10px;
    padding: 130px 150px 5px;
    display: flex;

}

li{
    list-style: none;
    color: gray;
}

 li:before {
    content: '✓ ' ;
    color: greenyellow;

}

.section-title {
    text-align: left;
    margin-bottom: 24px;
    height: 94px;
    width: 288px;
    left: 862px;
    top: 1178px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;

    color:black;
}

.section-description {
    color: grey;
    font-size: 18px;
    margin-bottom: 30px;

}
.section-header{
    text-align: left;
    padding: 300px 100px 5px 100px;


}
.my-plans{
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
}

.plans-title{
    font-weight: 700;
    font-size: 35px;
    color: black;
    padding-bottom: 50px;
}
.my-plans-container{
    display: flex;
    gap: 70px;
    
}


.my-plans-info{
justify-content: space-around;

}

.info-title{
    font-size: 20px;
    color: black;
}

.info-description{
    font-size: 25px;
    font-weight: 500;
    color: gray;
    
}

.positve-mindset-container{
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 60px;
    text-align: left;
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%),url(images/watch.png);
    background-repeat: no-repeat;
    height: 180px;
    width: 80%;
}
.positive-title{
    font-weight: 700;
    font-size: 35px;
    color: white;
    padding-right: 500px;
    padding-bottom: 50px;
  }
  footer{
    background: #151414;
    display: flex;
  }
  .left-part{
    color: #F8F8F8;
    padding: 130px 400px 150px 230px ;
  }
  .left-footer-title{
    margin-bottom: 16px;
  }
  .left-description,.email,.phone,.icon{
    margin-bottom: 24px;
    color: white;
  }
  .icon{
    justify-content: space-between;
  }
  
  .right-part{
    padding-top: 130px;
    padding-right: 230px;
  }
  .right-part-title{
    color: #F8F8F8;
    margin-bottom: 26px;
  }
  #mail{
    margin-bottom: 26px;
  }
  
  input[type="email"]
  {
    background-color:black;
    color: white;
    border: 2px solid;
    border-radius: 6px;
    padding-left: 10px;
    width: 300px;
    height: 60px;
  }
  input::placeholder{
    color: white;
    font-weight: 500;
    font-size: 15px;
  
  }
  .footer-submit{
  
    background-color: #005FAC;
    color: white;
    font-weight: 700;
    font-size: 20px;
    padding: 18px 20px;
    border: 2px;
    border-radius: 5px;
  }
  